---
import Container from '@components/general/Container.astro'

import { client } from '@services/connectionShopify'
import { productsQuery } from '@graphql/queries/products'
import { IconShoppingCart } from '@assets/icons/IconShoppingCart'

type iProductsQuery = {
    "node": {
      "id": string
      "title": string
      "description": string
      "handle": string
      "priceRange": {
        "minVariantPrice": {
          "amount": number
        }
      }
      "images": {
        "edges": [
          {
            "node": {
              "originalSrc": string
            }
          }
        ]
      }
    }
}

type iProduct = {
  id: string
  title: string
  category: string
  price: number
  image: string
}

async function getProducts(first = 10) {
  try {
    const { data, errors, extensions } = await client.request(productsQuery, {
      variables: {
        first,
      },
    })

    if (errors) {
      console.error('Errores en la consulta:', errors)
    } else {
      console.log('Productos obtenidos:', JSON.stringify(data.products.edges, null, 2))

      const newData = data.products.edges.map((product: iProductsQuery):iProduct => {
        return {
          id: product.node.id,
          title: product.node.title,
          category: product.node.handle,
          price: product.node.priceRange.minVariantPrice.amount,
          image: product.node.images.edges[0].node.originalSrc,
        }
      })

      return newData
    }
  } catch (error) {
    console.error('Error ejecutando la consulta:', error)
  }
}

const products = await getProducts(10)

---

<Container className='py-10'>
  <div class='flex flex-col gap-4 items-center'>
    <h2 class='text-4xl font-bold'>Featured Products</h2>

    <div class='w-40 bg-success h-1 rounded-full'></div>
  </div>

  <div class='mt-10 grid sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4'>
    {products.map((item: iProduct) => (
      <article class='flex flex-col gap-2'>
      <div class='aspect-square bg-base-200'>
        <a href={`/product/${item.id}`}>
          <img
            src={item.image}
            alt={item.title}
            class='w-full h-full object-cover'
          />
        </a>
      </div>

      <div class='flex gap-2'>
        <div class='flex-1 flex flex-col'>
          <a href={`/product/${item.id}`}>
            <h3 class='text-md font-semibold'>{item.title}</h3>
          </a>
          <p class='text-sm font-light mb-1'>{item.category}</p>
          <div>
            <span class='font-semibold'>${item.price}{' '}</span>
            <!-- <span>- Sale</span> -->
          </div>
        </div>

        <div>
          <button class="btn btn-ghost btn-square btn-sm">
            <IconShoppingCart size={17} client:only />
          </button>
        </div>

      </div>
    </article>
    ))}
  </div>
</Container>
