---
import { ButtonAddToCart } from '@components_functional/ButtonAddToCart'
import { getProducts } from '@graphql/functions/products'
import type { iProduct } from '@graphql/functions/products'

const products = await getProducts(10)
---

{products.map((item: iProduct) => (
  <article class='flex flex-col gap-2'>
    <div class='aspect-square bg-base-200'>
      <a href={`/product/${item.id.split('/')[4]}`}>
        <img
          src={item.image}
          alt={item.title}
          class='w-full h-full object-cover'
        />
      </a>
    </div>

    <div class='flex gap-2'>
      <div class='flex-1 flex flex-col'>
        <a href={`/product/${item.id.toString().split('/')[4]}`}>
          <h3 class='text-md font-semibold'>{item.title}</h3>
        </a>
        <p class='text-sm font-light mb-1'>{item.category}</p>
        <div>
          <span class='font-semibold'>${item.price}{' '}</span>
          <!-- <span>- Sale</span> -->
        </div>
      </div>

      <div>
        {/* <ButtonAddToCart small client:load /> */}
      </div>

    </div>
  </article>
))}